# tuples

In [1]:
t=(10,20,"str",56,45,56 )
type(t)

tuple

In [110]:
a=()
type(a)

SyntaxError: invalid syntax (<ipython-input-110-391e34abf631>, line 1)

In [2]:
# built in methods
print(t.count(56))
print(t.index("str"))

2
2

In [3]:
# built in functions
t1=(34,6,56,45,56)
print(max(t1))
print(min(t1))
print(len(t1))

56
6
5

In [11]:
# changing tuple to list and list to tuple
l1=list(t1)
l1

[34, 6, 56, 45, 56]

In [12]:
t1=tuple(l1)
t1

(34, 6, 56, 45, 56)

### sets are using curli brackets 
### sets are un orderd
### sets are doesent allow duplicate values 
### sets are un indexes
### sets are allows any values

# built in methods in sets

In [111]:
#add 
# adding the element to the set
a={10,20,30}
a.add(40)
a

{10, 20, 30, 40}

In [4]:
#clear
#The clear() method removes all elements in a set.
#syntax:set.clear()
a.clear()
a

set()

In [3]:
#copy
#The copy() method copies the set.
#syntax:set.copy()
a={10,20,30,40}
c=a.copy()
c
print(a)
print(c)

{40, 10, 20, 30}
{40, 10, 20, 30}

In [81]:
#difference
#The difference() method returns a set that contains the difference between two sets.

#Meaning: The returned set contains items that exist only in the first set, and not in both sets.
#syntax:set.difference(set)
a={10,20,30,40,50}
b={50,60,10,20,30}
a.difference(b)

{40}

In [16]:
#difference_update()
#The difference_update() method removes the items that exist in both sets.
#The difference_update() method is different from the difference() method, because the difference() method returns a new set, without the unwanted items, and the difference_update() method removes the unwanted items from the original set.
#set.difference_update(set)
a={10,20,30,40}
b={20,30,40,50}
a.difference_update(b)
print(a)
print(b)

{10}
{40, 50, 20, 30}

In [22]:
#discard()
#The discard() method removes the specified item from the set.
#This method is different from the remove() method, 
#because the remove() method will raise an error if the specified item does not exist,
#and the discard() method will not.

#syntax:set.discard(value)
a={10,20,30,40}
a.discard(10)
a

{20, 30, 40}

In [24]:
print("a=",a)
print("b=",b)
print("c=",c)

a= {40, 10, 20, 30}
b= {40, 50, 20, 60}
c= {40, 10, 20, 30}

In [30]:
#intersection()
#The intersection() method returns a set that contains the similarity between two or more sets.
#Meaning: The returned set contains only items that exist in both sets,
#or in all sets if the comparison is done with more than two sets.
#syntax:set.intersection(set1, set2 ... etc)
a={10,20,30,40}
b={20,40,50,60}
a.intersection(b)

{10, 20, 30, 40}

In [31]:
#intersection_update()
#The intersection_update() method removes the items that is not present in both sets
#(or in all sets if the comparison is done between more than two sets).
#The intersection_update() method is different from the intersection() method, 
#because the intersection() method returns a new set, without the unwanted items,
#and the intersection_update() method removes the unwanted items from the original set.
#syntax:set.intersection_update(set1, set2 ... etc)
a.intersection_update(b)
a

{20, 40}

In [37]:
#isdisjoint()
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
#Syntax:set.isdisjoint(set)
a={10,20,30,40}
b={20,30,40,50}
a.isdisjoint(b)

False

In [39]:
a={10,20,30,40}
b={50,60,70,80}
a.isdisjoint(b)

True

In [57]:
#issubset()
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it retuns False.
#syntax:set.issubset(set)
a={10,20,30,40}
b={10,20,30,40,60}
a.issubset(b)

True

In [43]:
a={10,20,30,40}
b={40,50}
a.issubset(b)

False

In [56]:
#issuperset()
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it retuns False.
#syntax
#x.issuperset(y)
x = {"f", "e", "d", "c", "b", "a"}
y = {"f", "e", "d","c"}
x.issuperset(y)

True

In [66]:
#pop()
#The pop() method removes a random item from the set.
#This method returns the removed item.
#because indexing not present
#syntax:set.pop()
a={10,20,30,40,50,60}
a.pop()

40

In [73]:
a

set()

In [77]:
#remove()
#The remove() method removes the specified element from the set.
#This method is different from the discard() method,
#because the remove() method will raise an error if the specified item does not exist,
#and the discard() method will not.
#syntax:set.remove(item)
a={10,20,30,40}
a.remove(10)
a

{20, 30, 40}

In [85]:
#symmetric_difference()
#The symmetric_difference() method returns a set that contains all items from both set,
#but not the items that are present in both sets.
#Meaning: The returned set contains a mix of items that are not present in both sets.
#syntax:set.symmetric_difference(set)
a={10,20,30,40,50}
b={90,100,200,300}
a.symmetric_difference(b)

{10, 20, 30, 40, 50, 90, 100, 200, 300}

In [90]:
#symmetric_difference_update()
#The symmetric_difference_update() method updates the original set by removing items that are present in both sets, 
#and inserting the other items.
a={10,20,30,40,50}
b={90,100,200,300}
a.symmetric_difference_update(b)
a

{10, 20, 30, 40, 50, 90, 100, 200, 300}

In [95]:
#union()
#The union() method returns a set that contains all items from the original set, and all items from the specified sets.
#You can specify as many sets you want, separated by commas.
#If an item is present in more than one set, the result will contain only one appearance of this item.
#syntax:set.union(set1, set2...)
a={10,20,30,40,50}
b={90,100,200,300}
b.union(a)

{10, 20, 30, 40, 50, 90, 100, 200, 300}

In [103]:
#update()
#The update() method updates the current set, by adding items from another set.
#If an item is present in both sets, only one appearance of this item will be present in the updated set.
a={10,20,30,40,50}
b={90,100,200,300}
a.update(b)
a

{10, 20, 30, 40, 50, 90, 100, 200, 300}

In [106]:
print(a)

{100, 40, 200, 10, 300, 50, 20, 90, 30}

# dictionary
### dictionaries are collection of key-value pairs,each key-value pair is known as entry
# key:
### key should be unique
### key should be immutable

In [115]:
a={"name":"manoj","age":"22","Course":"python"}
a

{'name': 'manoj', 'age': '22', 'Course': 'python'}

In [117]:
a["sir name"]="repudi"
a

{'name': 'manoj', 'age': '22', 'Course': 'python', 'sir name': 'repudi'}

In [7]:
a={'name': 'manoj', 'age': '22', 'Course': 'python', 'sir name': 'repudi'}
del a["sir name"]
a

{'name': 'manoj', 'age': '22', 'Course': 'python'}

In [8]:
a=int(input("enter how many students u want"))
l=[]
for i in (1,a+1):
    d={"name":input("enter name"),"age":int(input("enter age"))}
    l.append(d)
l

enter how many students u want2
enter namemanoj
enter age2
enter namesiri
enter age1

[{'name': 'manoj', 'age': 2}, {'name': 'siri', 'age': 1}]

In [6]:
#clear()
#The clear() method removes all the elements from a dictionary.
#syntax:dictionary.clear()
a={"name":"manoj","age":"22"}
a.clear()
a

{}

In [12]:
# copy()
#The copy() method returns a copy of the specified dictionary.
#syntax:dictionary.copy()
a={"name":"manoj","age":"22"}
b=a.copy()
b

{'name': 'manoj', 'age': '22'}

In [14]:
a.clear()
print(a)
print(b)

{}
{'name': 'manoj', 'age': '22'}

In [28]:
#fromkeys()
#The fromkeys() method returns a dictionary with the specified keys and values.
#syntax:dict.fromkeys(keys, value)
a=("name","age")
b=("siri","22")
c=dict.fromkeys(a,b)
c

{'name': ('siri', '22'), 'age': ('siri', '22')}

In [49]:
car = { "brand": "Ford","model": "Mustang","year": 1964}
x = car.get("price", 15000)
print(x)

15000

In [50]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("brand")

print(car)

{'model': 'Mustang', 'year': 1964}

In [48]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964,"price":1500
}

car.popitem()

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("price", "15000")

print(x)

15000